* {
    margin: 0;
  }
  th {
    background-color: black;
    color: white;
    padding: 10px;
  }
  table {
    border-collapse: collapse;
  }
  td{
      text-align: center;
      
  }
  .nome {
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: white;
    text-align: center;
  }
  
  button {
    background-color: blue;
    border-color: rgba(1, 1, 211, 0.616);
    border-radius: 10px;
    height: 27px;
    text-align: center;
  }
  button:hover {
    background-color:rgb(226, 20, 20);
    border-color: rgb(226, 20, 20);
  }
  button:active {
    transform: translateY(2px);
  }
  button:focus {
    transform: scale(1.1);
  }
  .twitter {
    background-color: aqua;
    border-color: aqua;
  }
  tr:nth-child(odd):not(:first-child){
      background-color: #cccfcd;
  }
  